#contact-section div {
    background-color: rgba(62, 124, 178, 0.4);
    margin: 2rem 3rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    border: 4px solid #3E7CB2;
    border-radius: 4px;
}

#contact-section p {
    font-size: 1.6rem;
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/img/contact/contact.jpg);
    background-position: center;
    background-size: cover;
    color: #FFF;
    text-align: justify;
    line-height: 2.2rem;
}