html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    font-size: 4px;
}

#carousel {
  position: relative;
  height: 40rem;
  top: 50%;
  transform: translateY(-55%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 40rem;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 20rem;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 20rem;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(5rem) translateX(-50%);
}
#carousel div.prev img {
  width: 30rem;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 20rem;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(5rem) translateX(-50%);
}
#carousel div.next img {
  width: 30rem;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 20rem;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
/* my addition */

button {
    background-color: rgba(24, 49, 71, 0.6);
    border-radius: 4rem;
    border: 3px solid rgba(255, 255, 255, 0.6);
    padding: 1rem 2rem;
    font-size: 4rem;
    display: inline-block;
    color: #CCC;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
    font-weight: bold;
    letter-spacing: .2rem;
    transition: all 1s;
    padding: 1rem 4rem;
}
button:first-of-type {
    margin-right: 5rem;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: rgba(24, 49, 71, 1);
    color: #FFF;
    border: 3px solid rgba(0, 0, 0, 0.6);
}